@import url("./bubbleui-v3.0.0.css");
@import url("./components/_import.css");
@import url("./views/_import.css");

:root {
    --background: #edecea;
    --accent-color: #8155ff;
    --secondary-color: #f1eaff;
    --secondary-text-color: #898989;
    --text-color: #9a8e75;
}

:root[data-grayscale="true"] body {
    filter: grayscale(1);
}

.accent-hover:hover {
    color: var(--accent-color);
}

body,
view {
    transition: 0.35s;
    background: var(--background);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.text-error {
    color: var(--error-color);
}
