div.gallery {
    width: 100%;
    padding-top: 4rem;
}

div.gallery.mobile {
    padding-top: 1rem;
}

div.gallery h1#title {
    color: #666;
    text-align: center;
    font-size: 2.2rem;
    margin: 2.5rem 0;
    padding: 0 8rem;
    font-weight: light;
}

div.gallery.mobile h1#title {
    font-size: 1.5rem;
    margin: 1rem 0;
}

div.gallery ul#image-list {
    width: 100%;
    height: 100%;
    padding: 0 7rem;
    text-align: start;
}

div.gallery.mobile ul#image-list {
    padding: 0 1rem;
}

div.gallery ul#image-list li {
    display: inline-block;
    margin: 0.45rem;
    list-style-type: none;
}

div.gallery.mobile ul#image-list li {
    display: block;
}

div.gallery ul#image-list li div.canvas {
}

div.gallery ul#image-list li div.canvas,
div.gallery ul#image-list li div.canvas img {
    height: 25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0;
    transition: var(--animation-fast) ease-in-out;
}

div.gallery.mobile ul#image-list li div.canvas,
div.gallery.mobile ul#image-list li div.canvas img {
    height: auto;
    width: 100%;
}

div.gallery ul#image-list li div.canvas img {
    width: 100%;
}

div.gallery ul#image-list li div.canvas:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
