div#header {
  width: 28rem;
  min-width: 28rem;
  height: 100vh;
  max-height: 100vh;
  padding-top: 4rem;
  background: #dcd8d0;
  overflow-y: auto;
}

:root[data-display="mobile"] div#header {
  width: 100%;
  height: 100%;
  min-width: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

:root[data-theme="dark"] div#header {
  background: #211c1a;
}

div#header > img#logo {
  --logo-size: 10rem;
  width: var(--logo-size);
  height: var(--logo-size);
  border-radius: 50%;
  cursor: pointer;
}

:root[data-display="mobile"] div#header > img#logo {
  --logo-size: 7rem;
}

div#header > h1#title {
  font-family: "Just Another Hand", cursive;
  font-size: 5rem;
  margin-top: 1.5rem;
  color: #9a8e75;
  margin-bottom: 1.75rem;
}

:root[data-display="mobile"] div#header > h1#title {
  font-size: 4rem;
}

:root[data-theme="dark"] div#header > h1#title {
  color: #eee;
}

div#header > div#tag-menu {
  width: 100%;
  height: auto;
}

:root[data-display="mobile"] div#header > div#tag-menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

div#header > div#tag-menu > button {
  --padding: 0.8rem 1.7rem;
  background-color: #ccc2ae;
  color: #9a8e75;
  margin: 10px;
  margin-left: 0;
  font-size: 1.5rem;
  padding: var(--padding);
  height: auto;
  border-radius: 0 5rem 5rem 0;
  transition:
    padding 0.5s,
    background 0.5s;
}

:root[data-display="mobile"] div#header > div#tag-menu > button {
  border-radius: 10rem;
  margin: 0.25rem;
  height: 3.5rem;
  width: 80%;
  max-width: 20rem;
  font-size: 1.35rem;
  --padding: 0.4rem 1.2rem;
}

:root[data-display="mobile"] div#header > div#tag-menu > button:hover {
  padding: var(--padding);
}

:root[data-theme="dark"] div#header > div#tag-menu > button {
  background-color: #161311;
  color: #ccc4c3;
}

div#header > div#tag-menu > button:active {
  transform: scale(1);
}

div#header > div#tag-menu > button:hover {
  background-color: #9a8e75;
  color: #ccc2ae;

  padding-left: 7rem;
}

div#header > div#tag-menu > button.selected {
  background-color: #9a8e75;
  color: #e8e0d3;
}

:root[data-theme="dark"] div#header > div#tag-menu > button.selected {
  background-color: var(--accent-color);
  color: #161311;
}
