div#header {
    width: 30rem;
    min-width: 30rem;
    height: 100vh;
    padding-top: 4rem;
    background: #dcd8d0;
}

div#header > img#logo {
    --logo-size: 10rem;
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 50%;
}

div#header > h1#title {
    font-family: "Just Another Hand", cursive;
    font-size: 5rem;
    margin-top: 1.5rem;
    color: #9a8e75;
    margin-bottom: 1.75rem;
}

div#header > div#tag-menu {
    width: 100%;
    height: auto;
}

div#header > div#tag-menu > button {
    background-color: #ccc2ae;
    color: #9a8e75;
    margin: 10px;
    margin-left: 0;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    height: auto;
    border-radius: 0 5rem 5rem 0;
    transition: padding 0.5s;
}

div#header > div#tag-menu > button:active {
    transform: scale(1);
}

div#header > div#tag-menu > button:hover {
    background-color: #9a8e75;
    color: #ccc2ae;

    padding-left: 9rem;
}

div#header > div#tag-menu > button.selected {
    background-color: #9a8e75;
    color: #ccc2ae;
}
