view#home {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    font-size: 1.6rem;
    transition: all 1s;
    overflow: auto;
}

view#home div#gallery-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    max-height: 100vh;
    overflow: auto;
    opacity: 1;
    transition: opacity 0.25s;
}

view#home div#gallery-container div#project-bar {
    width: 100%;
    height: 5vh;
    padding: 1rem;
}

view#home div#gallery-container h1#title {
    font-family: "just another hand";
    font-size: 10rem;
    color: #9a8e75;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}

view#home div#gallery-container div#project-bar button {
    background-color: #d9d2c3;
    color: #9a8e75;
    font-size: 1.2rem;
    margin: 10px;
}

view#home div#gallery-container div#project-bar button.selected {
    background-color: #9a8e75;
    color: #dcd8d0;
    font-size: 1.2rem;
    margin: 10px;
}
